#Ingestion 
USGS_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson
KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=earthquakes
POLL_INTERVAL=60

#Processing 
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=earthquakes_db
MONGO_COLLECTION=earthquakes