# Variabili locali
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ambienti virtuali
.venv/
venv/
env/

# macOS
.DS_Store
._*
__MACOSX/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Log e file temporanei
*.log
*.tmp